<!DOCTYPE html>
<html lang="en"> 
<head>
<meta charset="UTF-8">
</head>
<body>
{"title"=>"1234", "sgfields_attributes"=><ActionController::Parameters {"1523967128449"=><ActionController::Parameters {"type"=>"BulletPoint", "content"=>"12345", "_destroy"=>"false"} permitted: true>, "1523967137034"=><ActionController::Parameters {"type"=>"Numbering", "content"=>"12346", "_destroy"=>"false"} permitted: true>} permitted: true>}
</body>
</html>
