<tr class="nested-fields">
  <td>
    <%= link_to_remove_association 'Remove field',f, class: 'btn btn-primary btn-xs' %>
  </td>
  <td><%= f.input :type, label: false, collection: %w[Heading Mainpoint Term-Definition BulletPoint Numbering] %></td>
  <td><%= f.input :content, label: false, as: :text %></td>
</tr>
