<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @study_guide.title %>
</p>

<%= link_to 'Edit', edit_study_guide_path(@study_guide) %> |
<%= link_to 'Back', study_guides_path %>
