/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    margin: 0;
}

 .nav ul {
     list-style-type:none;
     padding: 0;
     margin:0;
      //margin-top: -20px;
     margin-bottom: -12px;
     overflow: hidden;

 }

 .nav li {
   float: left;

 }


 .nav li h1{
     display:block;
     min-width:140px;
     height: 60px;
     text-align: center;
     bottom: 0px;


     font-family: 'Amatic SC', cursive;
     font-weight: bold;
     font-size: 2em;
     line-height: 1.2;
     color: #333;
     background: #FFFFFF;
     text-decoration: none;

     border-right: 2px;
     border-right-color:#333;
     border-right-style:solid;
 }
 li.navbutt h1 {
   font-size: 1.6em;
   line-height: .8;
 }

 li.active h1{
   background: url('HF.png') no-repeat;
   background-size:100px;
   background-position: center;

 }

 li#active h1{
   background: url('HF.png') no-repeat;
   background-size:100px;
   background-position: center;
 }
 .line img{
   overflow: hidden;
   /*min-width: 900px;*/
   width: 100%;
   height: 10%;
 }

 .icon{
   width: 15px;
 }

 .blurb{
   padding:  0 150px 0 150px;
   text-align: center;
 }

 .blurb h1{
   font-family: 'Roboto', sans-serif;
   font-weight:300;
   font-size: 2em;
 }


 .blurb p{
   font-family: 'Roboto', sans-serif;
   font-weight:300;
   font-size: 1.5em;
 }

 .explanation{
   display: flex;

   justify-content: center;

   padding:  0 50px 0 50px;
   text-align: center;
   margin: 0 auto;



 }

a:link{
  text-decoration: none;
}

 .preview{

   display: inline-block;
   max-width: 500px;
   min-width: 250px;
   vertical-align: top;
   overflow:hidden;



 }
 .GetStarted{
   text-align: left;
   display: inline-block;
   max-width: 500px;
   min-width: 250px;
   padding-left: 25px;
   padding-right: 90px;
   overflow:hidden;
   border-left: 5px solid #2C666E;

   line-height: 2;
   font-family: 'Open Sans', sans-serif;
 }

 .GetStarted h2{
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
 }

 .newbutt{
   /*background-color: #79B4BC;*/
   background-color: #FFFFFF;
   background: url('buttondark.png') no-repeat;

   color: #FFFFFF;
   text-decoration: none;

   background-size:190px;
   background-position: center;
   text-decoration: none;


   text-align:center;
   border:none;
   font-size: 1em;

   font-family: 'Roboto', sans-serif;
   font-weight: 300;

 }
 .editbutt{
   /*background-color: #2C666E;*/
   background-color: #FFFFFF;
   background: url('buttonlight.png')  no-repeat;
   color: #FFFFFF;
   text-decoration: none;

   background-size:135px;
   background-position: center;
   text-align: center;

   border:none;
   font-size: 1em;

   font-family: 'Roboto', sans-serif;
   font-weight: 300;
 }
 /*.divder{
   border-right: 2px solid blue;
   float: left;
 }*/


 /* Edit Page*/

 .upload-blurb{
   padding:  0 100px 0 100px;
   margin-top: 25px;
   text-align: center;
   border: 2px solid black;
   width: 300px;
   height: 400px;
   margin: 0 auto;

 }

 .upload-blurb h1{
   font-family: 'Roboto', sans-serif;
   font-weight:300;
   font-size: 2em;
 }
