// Place all the styles related to the study_guides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav ul {
    list-style-type:none;
    padding: 0 ;
    margin-top: -60px;
    margin-bottom: -12px;
    overflow: hidden;

}

.nav li {
  float: left;

}


.nav li h1{
    display:block;
    min-width:140px;
    height: 60px;
    text-align: center;
    bottom: 0px;


    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 2em;
    line-height: .9;
    color: #333;
    background: #FFFFFF;
    text-decoration: none;

    border-right: 2px;
    border-right-color:#333;
    border-right-style:solid;
}
li.navbutt h1 {
  font-size: 1.6em;
  line-height: .7;
}

li.active h1{
  background: url('HF.png') no-repeat;
  background-size:100px;
  background-position: center;
  //background-repeat: no-repeat;
}

li#active h1{
  background-image: url('HF.png');
  background-size:100px;
  background-position: center;
  background-repeat: no-repeat;
}
.line img{
  overflow: hidden;
  /*min-width: 900px;*/
  width: 100%;
  height: 10%;
}

.icon{
  width: 15px;
}

.blurb{
  padding:  0 150px 0 150px;
  text-align: center;
}

.blurb h1{
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  font-size: 2em;
}


.blurb p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight:300;
  font-size: 1em;
}

.explanation{
  display: flex;

  justify-content: center;

  padding:  0 50px 0 50px;
  text-align: center;
  margin: 0 auto;



}

.preview{

  display: inline-block;
  max-width: 500px;
  min-width: 250px;
  vertical-align: top;
  overflow:hidden;



}
.GetStarted{
  text-align: left;
  display: inline-block;
  max-width: 500px;
  min-width: 250px;
  padding-left: 25px;
  padding-right: 90px;
  overflow:hidden;
  border-left: 5px solid #2C666E;

  line-height: 2;
  font-family: 'Open Sans Condensed', sans-serif;
}

.GetStarted h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.newbutt{
  /*background-color: #79B4BC;*/
  background-color: #FFFFFF;
  background: url('buttondark.png') no-repeat;
//background-image: url('buttondark.png');
  color: #FFFFFF;
  text-decoration: none;

  background-size:190px;
  background-position: center;
  text-decoration: none;
//background-repeat: no-repeat;

  text-align:center;
  border:none;
  font-size: 1em;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}
.editbutt{
  /*background-color: #2C666E;*/
  background-color: #FFFFFF;
  background: url('buttonlight.png')  no-repeat;
  color: #FFFFFF;
  text-decoration: none;

  background-size:135px;
  background-position: center;
  text-align: center;

  border:none;
  font-size: 1em;
  text-decoration: none;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
/*.divder{
  border-right: 2px solid blue;
  float: left;
}*/


/* Edit Page*/

.upload-blurb{
  padding:  0 100px 0 100px;
  margin-top: 25px;
  text-align: center;
  border: 2px solid black;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  //justify-content: center;
}

.upload-blurb h1{
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  font-size: 2em;
}
