.sgform{
  border: 2px solid black;
  text-align: center;
  margin: 25px  50px 0 50px;
  padding: 10px;
}

.sgtable{
  text-align: center;
  margin: 0 auto;
}

select{
 //appearance: none;
 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width:110px;
  height: 20px;
  padding: 2px 4px 2px 2px;
  background-image: url("triangle.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 10px;
  background-origin: content-box;
  
}

input[type=text]:focus {
    outline: none;
    border: 3px solid #555;
}

textarea{
  min-width: 300px;
  min-height: 100px;
  font-family: 'Roboto', sans-serif;
}


textarea:focus {
    outline: none;
    border: 3px solid #555;
}

.nested-fields td img{
  width: 15px;
}

.nested-fields td a:hover{
  background-color: white;
}

.form-actions a.add_fields{
  -webkit-border-radius: 19;
  -moz-border-radius: 19;
  border-radius: 19px;
  color: #ffffff;
  background: #79B4BC;
  padding: 6px 21px 6px 20px;
  border: solid #000000 2px;
  text-decoration: none;


opacity: 0.9;

//  background-color: blue;
}

.form-actions a.add_fields:hover{
  background: #2C666E;
  text-decoration: none;
}

button.create{
   margin-top: 100px;
}

.sgform h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}
